<ion-header>
  <ion-toolbar>
    <ion-title>
      Registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
      <ion-input placeholder="First Name" [(ngModel)]="firstnameInput"> </ion-input>
      <ion-input placeholder="Last Name" [(ngModel)]="lastnasmeInput"> </ion-input>
      <ion-input placeholder="Email" [(ngModel)]= "emailInput"></ion-input>
      <ion-input placeholder="Password" [(ngModel)]= "passwordInput"></ion-input>
      <ion-button (click)="navToHome()">Register</ion-button>
  </div>
</ion-content>

